.vs/
.vscode/
Win32/
x64/
python-3.8.1/
*.o
*.a
*.pch
*.log
*.tmpl
*.tlog
*.ilk
*.user
*.pdb
*.idb
*.suo
*.sdf
*.ncb
*.exp
*.aps
*.res
*.lib
*.obj
*.dll
*.exe
*.sys
*.pyc
*.pyo
*.pyd
*.zip
*.7z
*.bak
*.recipe
*.vcs-cache
*.FileListAbsolute.txt